.groupWidget {
  header,
  & > div > div:first-child {
    background-color: #fff;
    color: #000;
  }
}

.tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.headerIcon {
  border-radius: 50%;
  background-size: contain;
}
