.row {
   display: flex;
   align-items: center;
   height: 40px;
   cursor: pointer;
   list-style: none;
   justify-content: space-between;
   color: #fff;
   .participantWrapper {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
   }
   .flag {
      line-height: 1;
      padding-right: 12px;
      width: 24px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 36px;
      img {
         width: 24px;
         height: 24px;
      }
   }
   .participant {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      max-width: 140px;
   }
   .button,
   .emptyButton {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 60px;
      display: flex;
      height: 36px;
      margin-left: .5rem;
      z-index: 1;
   }
}
